<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>site</title>
    <link rel="stylesheet" href="style_board.css" />

    <script src="/socket.io/socket.io.js"></script>
    <script src="index.js" charset="utf-8" defer></script>
  </head>

  <body>
    <nav>
      <div class="nav-content">
        <div class="logo">
          <a href="#"
            ><img class="lo" src="image/moguls-modified.png" />
            <h6>MOGULS</h6>
          </a>
        </div>
        <ul class="nav-links">
          <li>
            <a href="#"
              >PLAYER 1

              <ul id="stats_p1">
                <li>YASHASVI</li>
              </ul>
            </a>
          </li>
          <li>
            <a href="#"
              >PLAYER 2
              <ul id="stats_p2">
                <li>YASHASVI</li>
              </ul>
            </a>
          </li>
          <li>
            <a href="#"
              >PLAYER 3
              <ul id="stats_p3">
                <li>YASHASVI</li>
              </ul>
            </a>
          </li>
          <li>
            <a href="#"
              >PLAYER 4
              <ul id="stats_p4">
                <li>YASHASVI</li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="home"></section>

    <script>
      let nav = document.querySelector("nav");
      window.onscroll = function () {
        if (document.documentElement.scrollTop > 20) {
          nav.classList.add("sticky");
        } else {
          nav.classList.remove("sticky");
        }
      };
    </script>

    <table id="board">
      <tr>
        <td class="cell board-corner" id="cell12">
          FREE <br />PARKING
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
        <td class="cell board-top" id="cell13">
          KENTUCY AVE<br /><br />
          $220
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
        <td class="cell board-top" id="cell14">
          CHANCE
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
        <td class="cell board-top" id="cell15">
          ILLINOIS AVE<br /><br />
          $240
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
        <td class="cell board-top" id="cell16">
          WATER WORKS<br /><br />
          $150
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
        <td class="cell board-top" id="cell17">
          MARVIN GARDENS<br /><br />
          $280
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
        <td class="cell board-corner" id="cell18">
          GO TO JAIL
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
      </tr>
      <tr>
        <td class="cell board-left" id="cell11">
          NY AVE<br /><br />
          $200
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
        <td colspan="5" rowspan="5" class="board-center">
          <button class="roll_dice">Roll dice</button>

          <button id="button">BUY</button>
        </td>
        <td class="cell board-right" id="cell19">
          PACIFIC AVE<br /><br />
          $300
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
      </tr>
      <tr>
        <td class="cell board-left" id="cell10">
          COMMUNITY CHEST
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
        <td colspan="5" class="cell board-right" id="cell20">
          COMMUNITY CHEST
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
      </tr>
      <tr>
        <td class="cell board-left" id="cell9">
          VIRGINIA AVE<br /><br />
          $160
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
        <td colspan="5" class="cell board-right" id="cell21">
          PENNSYLVANIA AVE<br /><br />
          $320
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
      </tr>
      <tr>
        <td class="cell board-left" id="cell8">
          ELEC. COMP.<br /><br />
          $150
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
        <td colspan="5" class="cell board-right" id="cell22">
          CHANCE
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
      </tr>
      <tr>
        <td class="cell board-left" id="cell7">
          ST. CHARLES PLACE<br /><br />
          $140
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
        <td colspan="5" class="cell board-right" id="cell23">
          BOARDWALK<br /><br />
          $400
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
      </tr>
      <tr>
        <td class="cell board-corner" id="cell6">
          JAIL
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
        <td class="cell board-bottom" id="cell5">
          CONNECTICUT AVE<br /><br />
          $120
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
        <td class="cell board-bottom" id="cell4">
          CHANCE
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
        <td class="cell board-bottom" id="cell3">
          ORIENTAL AVE<br /><br />
          $100
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
        <td class="cell board-bottom" id="cell2">
          COMMUNITY CHEST
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>

        <td class="cell board-bottom" id="cell1">
          MEDITERRANIAN AVE<br /><br />
          $60
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
        <td class="cell board-corner" id="cell0">
          START
          <div class="player p1"></div>
          <div class="player p2"></div>
          <div class="player p3"></div>
          <div class="player p4"></div>
        </td>
      </tr>
    </table>
    <!-- chatbox, livestream, gameplay-->
  </body>
</html>
